.OuterDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
   
}
.add{
    padding-top: 10px;
    padding-right: 8px;
    // border: 10px;
    margin: 0 5px;
    .material-symbols-outlined{
        padding: 10px;
    }
    .divImg{
        display: flex;
        width: 25px;
        height: 25px;
        //padding-left: 20px;
    }
}
.icons{
    height: 30px;
}
.menu
{
    padding:0px 0px 15px 8px;
}
