<form class="form">

    <div class="container">
        <div class="emailpassword">
            <div class="form-head">
                <div fxLayout="row" style="font-weight:500">
                    <span style="font-size: 30px ; color: #4285F4">F</span>
                    <span style="font-size: 30px ; color: #EA4335">u</span>
                    <span style="font-size: 30px ; color: #FBBC05">n</span>
                    <span style="font-size: 30px ; color: #4285F4">d</span>
                    <span style="font-size: 30px ; color: #34A853">o</span>
                    <span style="font-size: 30px ; color: #EA4335">o</span>
                </div>
            </div>
            <p class="head-form">Reset Password</p>
            <p>
                <mat-form-field class="email" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput placeholder="New Password">
                </mat-form-field>
                <mat-form-field class="password" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Password">
                </mat-form-field>
            </p>
            <div class="showPassword">
                <input type="checkbox">
                <label>Show Password</label>
            </div>
                <mat-hint>
                    <h3>Not your computer? Use Guest mode to sign in privately</h3>
                </mat-hint>
                <div class="btn-div">
                    <button class="btnsave" mat-flat-button color="primary">Save</button>
                </div>
            </div>
        </div>

</form>