.form
{
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.container
{
    padding: 2rem;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 300px;
    max-height: 650px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}
.btnNext
{
    background-color: #1877f2;
    border-radius: 6px;
    width: 30%;
}
.btn-div
{
    padding-left: 70%;
}
.form-head
{
    padding:10px 35% 10px ;
}
