<div class="forget-layout">
    <div class="container">
        <div class="forget-container">
            <div class="form-head" fxLayout="column" fxLayoutAlign=" center">
                <div fxLayout="row" style="font-weight:500">
                    <span style="font-size: 30px ; color: #4285F4">F</span>
                    <span style="font-size: 30px ; color: #EA4335">u</span>
                    <span style="font-size: 30px ; color: #FBBC05">n</span>
                    <span style="font-size: 30px ; color: #4285F4">d</span>
                    <span style="font-size: 30px ; color: #34A853">o</span>
                    <span style="font-size: 30px ; color: #EA4335">o</span>
                </div>
                <div class='form-account' fxLayout="column" fxLayoutAlign=" center">
                    <span>
                        <h1>Find your account</h1>
                    </span>
                    <span>Enter your phone number or recovery email</span>
                </div>
            </div>
            <form [formGroup]="forgetPwdForm" (ngSubmit)="onSubmit()">
                <div class="form-group form-container" fxLayout="column">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Enter email" formControlName="email">
                        <mat-error>Enter valid email address</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group buttons" fxLayoutGap="10px">
                    <button class="btnNext" mat-flat-button color="primary">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>