.form
{
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.container
{
    padding: 2rem;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 300px;
    max-height: 650px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}
.email, .password
{
    width: 100%;
}
.btnNext
{
    background-color: #1877f2;
    border-radius: 6px;
    width: 30%;
    flex-direction: row;
    gap: 15px;
    justify-content:space-between;
    align-items: center;    
    
}
.showPassword
{
    padding-bottom: 10px;
}
.forgetemail
{
    flex-direction: row;
    gap: 15px;
    
    padding-right: 25%;
    color: dodgerblue;
}
.forgetpassword
{
    padding-left: 10%;
}
.forgetpassword, .learn,.create
{
    padding: 0.3rem;
    color: dodgerblue;
}
.create
{
    padding-right: 30%;
    color: dodgerblue;
}
.form-head
{
    padding:10px 35% 10px ;
}
.head-form
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24%;
}
