<form class="form">

    <div class="container">
        <div class="emailpassword">
            <div class="form-head">
                <div fxLayout="row" style="font-weight:500">
                    <span style="font-size: 30px ; color: #4285F4">F</span>
                    <span style="font-size: 30px ; color: #EA4335">u</span>
                    <span style="font-size: 30px ; color: #FBBC05">n</span>
                    <span style="font-size: 30px ; color: #4285F4">d</span>
                    <span style="font-size: 30px ; color: #34A853">o</span>
                    <span style="font-size: 30px ; color: #EA4335">o</span>
                </div>
            </div>
            <div class="head-form">
                <h2>Find your Fundoo account</h2>
            </div>
            <div>
                <h3>Enter your Email to recover</h3>
            </div>
            <p>
                <mat-form-field class="email" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
            </p>
            <div class="btn-div">
                <button class="btnNext" mat-flat-button color="primary">Next</button>
            </div>
        </div>
    </div>

</form>